* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.favicon {
  width: 100px;
}
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  flex: 1;
  text-align: right;
}

/* nav links styling */
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  color: black;
  text-decoration: none;
  font-size: 13px;
}
/* header #toggler{
  display: none;
}
header .fa-bars {
  font-size: 0.5rem;
  color: #333;
  border-radius: 5rem;
  padding: 5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0, 0, 0, 0.3);
  display: none;
} */

/* hover effect for nav links*/
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
h1 {
  text-align: center;
}

.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}

.about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content {
  flex: 1 1 40rem;
}
/* .aboutt .menu-icon{
  width: 25px;
  cursor: pointer;
} */
.about .row .content h3 {
  font-size: 3rem;
  color: #333;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}
aside {
  margin-left: 40px;
}
footer {
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../images/photo-1468495244123-6c6c332eeece.avif);
  color: white;
  margin: 0;
  width: 100%;
}
.footer-section {
  text-align: center;
  line-height: 25px;
}
.footer-section h3 {
  color: green;
}
/* .footer-section p{
  line-height: 30px;
} */

/* media queries*/
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  header {
    padding: 2rem;
  }

  section {
    padding: 2rem;
  }

  .home {
    background-position: left;
  }
 
}

@media (max-width: 768px) {
  header .fa-bars {
    display: block;
  }
.aboutt .fa-bars{
  display: block;
}
  header .navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  
  header .navbar a{
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: .1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  }
 
  header #toggler:checked ~ .navbar {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  
  }
 
  /* header .navbar a {
    margin: 1.5rem;
    padding: 1.5rem;
    background: #fff;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
  } */

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3rem;
  }
}
